/*Error*/
.errorcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 20px;
}

.errorcontainer img {
    width: 420px;
}

.errortext {
    font-family: var(--font-main);
    display: block;
    padding: 40px 40px;
    width: 450px;
    letter-spacing: 1px;
}
.errortext ::-moz-selection {
  color: var(--col-asso);
  background: var(--col-main);
}

.errortext ::selection {
  color: var(--col-asso);
  background: var(--col-main);
}

.errortext h1 {
    color: var(--col-main);
    line-height: 3.5rem;
    margin-bottom: 15px;
}
.errortext p {
    font-size: 1.4rem;
    line-height: 1.45rem;
    color: var(--col-gray);
    font-weight: bold;
}

.errorlist{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 30px;
    width: auto;
}
.errorlist li a{
    display: flex;
    font-size: 1.2rem;
    line-height: 1.25rem;
    color: var(--col-blue-op);
}
.errorlist li a:hover{
    color: var(--col-blue);
    text-decoration: none;
}
.errorheader404{
    color: var(--col-main);
}

/**/

/* INDEX */

.og-div {
  height: 100vh; /* Full height of the viewport */
  display: flex;
  justify-content: center;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.og-div .content {
  max-width: 800px;
  margin-right: 20px;
}

.featured-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.home-featured {
  margin: 0 10px;
  padding: 15px;
  border-radius: 5px;
  transition: transform 0.3s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px; /* Set width for consistency */
  height: 100px; /* Set height for consistency */
  overflow: hidden; /* Prevent overflow */
}

.home-featured img {
  width: 100%;
  height: 100%;
  filter: grayscale(100%); /* Black and white */
  transition: filter 0.5s; /* Smooth transition */
}

.home-featured:hover img {
  filter: grayscale(0%); /* Show original color */
}

/*  */
.About-Me-Txt{
    font-size: 1.2em;
    line-height: 1.25em;
    margin-left: var(--space-medium);
    margin-right: var(--space-medium);
    scroll-behavior: smooth;
    text-align: justify;

}

.About-Me-Txt h3{
    text-indent: 30px;
    padding: 1em 0;
}

.Resume pre{
  margin-left: 10vw;
  font-family: var(--font-main);
}
.Resume h2 a{
    transition: var(--transition-default);
    color: var(--col-gray);
    text-decoration: none;
}

.Resume h2 a:hover, .Resume h2 a:focus{
    color: var(--col-main);
    outline: none;
    text-decoration: underline;
}

.Resume button{
    background-color: var(--col-asso);
    outline: none;
}
 
#testimonial {
margin-top: 100%;
padding-bottom: 25%;
} 

.image-container {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: white;
border: 0.2vh solid var(--col-gray);
padding: var(--space-micro);
box-shadow: 0 0 10px var(--col-off);
z-index: 9999;
max-width: 80vw;
max-height: 40vw;
overflow: auto;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: var(--col-gray);
  color: var(--col-main);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.image-container img {
  max-width: 80vw;
  height: auto;
  pointer-events: none; 
  user-select: none;
}

@media (max-width: 768px) {
  .image-container {
      width: 120vw;
  }

  .close-btn {
      font-size: 18px;
      padding: 8px 12px;
  }
}
#CCA_Activity_Details_1{
    transition: var(--transition-default);
    color: var(--col-gray);
    text-decoration: none;
}

#CCA_Activity_Details_1:hover, #CCA_Activity_Details_1:focus{
    color: var(--col-main);
    outline: none;
    text-decoration: underline;
}

#cca_download ::-moz-selection {
  color: var(--col-off-op);
  background-color: var(--col-gray);
}

#cca_download ::selection {
  color: var(--col-off-op);
  background-color: var(--col-gray);
}


.section h3{
    margin-left: 2vw;
}
.section h2 a{
    color: var(--col-main);
}

.section p{
    margin: 0;
}

.portfolio-review-card {
  margin: 0 15vw;
  color: var(--col-main);
  padding: 5vw;
  border-radius: 8px;
  width: 60%;
  min-width: 300px;
  text-align: center;
  position: relative;
}

.portfolio-review-card ::-moz-selection {
  color: var(--col-off);
  background: var(--col-main);
}

.portfolio-review-card ::selection {
  color: var(--col-off);
  background: var(--col-main);
}

.portfolio-review-text {
  min-height: 30vh;
  font-size: 2.52em;
  line-height: 2.6vh;
  margin-bottom: 2.5vh;
}

.portfolio-header {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1rem;
  line-height: 5vh;
}

.portfolio-reviewer-name {
  font-size: 2vh;
  line-height: 2.4vh;
  color: var(--col-main);
}

.portfolio-prev-next-buttons {
  justify-content: space-between; 
}
.portfolio-prev-next-buttons button {
  font-size: 3vh;
  background-color: inherit;
  color: var(--col-main);
  border: none;
  cursor: pointer;
  position: relative;
}

#prevButton {
  margin-right: 15vw;
  bottom: 0;
  left: 0;
}
#nextButton{
  margin-left: 15vw;
  bottom: 0;
  left: 0;
}

.page-indicators {
  display: flex;
  justify-content: center;
}

.page-indicator {
  width: 10px;
  height: 10px;
  background-color: var(--col-gray);
  border-radius: 50%;
  margin: 0 5px;
}

.page-indicator.active {
  background-color: var(--col-off);
}
/**/
.articles_year{
  font-style: var(--font-second);
}
.articles-card{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  background: var(--col-asso);
  padding: 0 0 0 1vw;
  border-bottom: 1px solid var(--col-gray);
}

.articles-card h6 b{
  color: var(--col-off-op);
}

.media_year_id { 
  border-bottom: 2.5px solid var(--col-gray-op);
}

.articles-filter-button {
  font-size: 12px;
  background-color: var(--col-asso);
  border: none;
  color: var(--col-main);
  cursor: pointer;
  padding: 8px;
  margin-right: 10px;
  transition: var(--transition-default);
}

.articles-filter-button:hover {
  background-color: var(--col-gray);
  color: var(--col-main);
  transition: var(--transition-default);
}

.articles-filter-button.active,  .articles-filter-button.active:hover{
  background-color: var(--col-main);
  color: var(--col-asso);
  transition: var(--transition-default);
}

#articles_subtitle{
    font-family: var(--font-sen);
}

.contact{
    font-size: 24px;
    padding: 0 var(--space-header);
    display: flex;
}

th,td{
padding: 8px;
border: 1px solid black;
}
thead{
background-color: var(--col-gray);
color: var(--col-main);
}
#quotes_filter
{
background: var(--col-off);
border-radius: 10px;
font-size: 2vh;
text-align: center;
}

.quotes-table{
    width: 100%;
    border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid;
}

th {
  background-color: var(--col-gray);
}

.filter-row {
  background-color: var(--col-off);
  padding: 8px;
  display: flex;
}

.filter-row select {
  width: 100%;
  padding: 4px;
  font-size: 14px;
  margin: 0 1vw;
}
/*TIMELINE @ CFSS*/
.timeline {
    position: relative;
    max-width: 800px;
    margin: auto;
    padding: var(--space-small) 0;
}
.timeline-item {
    position: relative;
    background-color: var(--col-gray);
    color: var(--col-main);
    padding: var(--space-micro);
    margin: var(--space-small) 0;
    border-radius: var(--border-radius);
    width: 50%;
    opacity: 0.2;
    transform: translateY(100px);
    transition: var(--transition-timeline);
}
.timeline-item ::selection {
    color: var(--col-off);
}


.timeline-item.left {
    left: -5%;
}
.timeline-item.right {
    margin-left: 1vw;
    left: 50%;
    transform: translateX(50%);
}
.timeline-item span {
    font-weight: bold;
}

.timeline::before {
    content: '';
    position: absolute;
    width: 8px;
    background-color: var(--col-gray-op);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.filter {
    margin-bottom: 20px;
}


.filter_btn {
  font-size: 12px;
  font-weight: 600;
  background-color: var(--col-gray);
  border-style:solid var(--col-gray-op);
  color: var(--col-main);
  cursor: pointer;
  padding: 8px;
  margin-right: 10px;
  transition: var(--transition-default);
}

.filter_btn:hover {
  background-color: var(--col-gray-op);
  color: var(--col-main);
}

.filter_btn.selected,  .filter_btn.selected:hover{
  background-color: var(--col-main);
  color: var(--col-asso);
}

#cca_download{
    background-color: var(--col-blue);
    color: var(--col-asso);
}

/* MOBILE SUPPORT */
/* MOBILE SUPPORT */
/* MOBILE SUPPORT */
/* MOBILE SUPPORT */

.errorcontainer {
  display: flex;
  flex-direction: column; /* Change to column for mobile */
  align-items: center;
  row-gap: 20px; /* Adjust gap for vertical spacing */
}

.errorcontainer img {
  width: 100%; /* Make image responsive */
  max-width: 420px; /* Keep max width */
}

.errortext {
  font-family: var(--font-main);
  display: block;
  padding: 20px; /* Reduced padding for mobile */
  width: 90%; /* Make text container responsive */
  letter-spacing: 1px;
}

.errortext h1 {
  font-size: 2rem; 
  line-height: 2.5rem;
  margin-bottom: 10px;
}

.errortext p {
  font-size: 1.2rem; 
}

@media (max-width: 768px) {
  .content{
    margin: var(--space-micro);
  }

  .errorcontainer {
      flex-direction: column;
  }

  .errorlist {
      margin-left: 0; /* Remove left margin */
      width: 100%; /* Full width for mobile */
  }

  .portfolio-review-card {
      width: 90%; /* Adjust width */
      margin: 0 auto; /* Centering */
  }

  .portfolio-review-text {
      font-size: 1.5em; /* Smaller font size */
  }

  .portfolio-header {
      font-size: 1.5em; /* Smaller font size */
  }

  .articles-card {
      padding: 1vw; /* Adjust padding for mobile */
  }

  .filter-row {
      flex-direction: column; /* Stack filter items */
  }

  .filter-row select {
      width: 100%; /* Full width for selections */
      margin: 5px 0; /* Space between items */
  }

  .timeline-item {
      width: 90%; /* Adjust width */
      margin: 10px auto; /* Centering */
      opacity: 1; /* Ensure full visibility */
  }

  .timeline::before {
      left: 10%; /* Adjust line position */
  }
}
