:root {
  --col-main-bright: #000000;
  --col-asso-bright: hsl(0, 3%, 93%);
  --col-main-dark: #eeeded;
  --col-asso-dark: #333333;
  --col-gray-bright: #e6e5e5;
  --col-gray-dark: #828282;

  --col-span: #045a51;

  --col-main: var(--col-main-bright);
  --col-asso: var(--col-asso-bright);
  --col-gray: var(--col-gray-bright);
  --col-gray-op: var(--col-gray-dark);

  --col-key: #fe8c0d;
  --col-off-bright: #fe8c0d;
}

.dark-mode {
  --col-main: var(--col-main-dark);
  --col-asso: var(--col-asso-dark);
  --col-gray: var(--col-gray-dark);
  --col-gray-op: var(--col-gray-bright);
}

body{
  padding: 0;
  margin: 0;
  background-color: var(--col-asso);
  color: var(--col-main);
}

.line span{
  color: var(--col-main);
  display: inline-block;
}